# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Databases
data/
dump.sql
dump.rdb
db.sqlite
db.sqlite3
*.db
*.sql
*.sqlite
*.sqlite3

# More Node.js related files
.npm/
.npmrc
.yarnrc
.yarn/
.pnp/
.pnp.js